<header>
  <h1>Project Name</h1>
</header>
<div class="container mt-5">
  <div class="text-center">
    <h2>อุปกรณ์ IOT</h2>
    <label>ระบบควบคุมอุปกรณ์ไฟฟ้าภายในบ้าน</label>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4 text-center">
      <img src="assets/images/product/ESP32.png" width="280px" height="270px" alt="">
    </div>
    <div class="col">
      <h5>บอร์ด ESP32</h5>
      <p>ESP32 เป็นไมโครคอนโทรลเลอร์แบบ System on Chip (SoC) ที่พัฒนาโดย Espressif Systems ซึ่งมีคุณสมบัติเด่นดังนี้:
        โปรเซสเซอร์: มีโปรเซสเซอร์ Tensilica Xtensa LX6 32-bit แบบ dual-core ที่ทำงานที่ความถี่สูงสุด 240 MHz1.
        หน่วยความจำ: มี 520 KB ของ SRAM, 448 KB ของ ROM และ 16 KB ของ RTC SRAM1.
        การเชื่อมต่อ: รองรับ Wi-Fi และ Bluetooth (ทั้ง Bluetooth Classic และ Bluetooth Low Energy)2.
        พลังงานต่ำ: ออกแบบมาให้ใช้พลังงานต่ำ เหมาะสำหรับอุปกรณ์พกพาและ IoT3.
        การเชื่อมต่ออินพุต/เอาต์พุต: รองรับการเชื่อมต่อหลายประเภท เช่น ADCs, DACs, UART, SPI, I2C, PWM และอื่น ๆ2.
        การเขียนโปรแกรม: สามารถเขียนโปรแกรมด้วย Arduino IDE หรือ MicroPython2.
        บอร์ด ESP32 เหมาะสำหรับการพัฒนาโปรเจกต์ IoT, ระบบอัตโนมัติในบ้าน, และอุปกรณ์พกพาต่าง ๆ</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <img src="assets/images/product/zmpt101b-2.jpg" width="280px" height="270px" alt="">
    </div>
    <div class="col">
      <h5> ZMPT101B เซ็นเซอร์วัดแรงดันไฟ AC </h5>
      <p>สามารถวัดแรงดันไฟฟ้าได้ถึง 250 โวลต์
        ให้เอาต์พุตแบบอะนาล็อก
        ถ้าแรงดันที่วัดเปลี่ยน เอาต์พุตก็จะเปลี่ยนแปลงด้วย</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <img src="assets/images/product/Swit.jpg" width="280px" height="270px" alt="">
    </div>
    <div class="col">
      <h5>สวิตช์แบบกดติดกดดับ</h5>
      <p>แบบกดติดกดดับหรือแบบ push on / push off เป็นปุ่มกดที่เมื่อกดเปิด – ปิดลงไปแล้ว
        ตัวสวิตช์จะค้างในตำแหน่งนั้นทันที จะกลับสู่ตำแหน่งเดิมได้ ต่อเมื่อกดลงไปในอีกทางหนึ่งอีกครั้ง
        นิยมใช้กับเครื่องใช้ไฟฟ้า หรือ เครื่องจักร ที่มีฟังก์ชันการทำงานไม่ซับซ้อน เช่น Start/stop สายพานลำเลียง เป็นต้น
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <img src="assets/images/product/Switching-Power-Supply-5V-5A-.jpg" width="280px" height="270px" alt="">
    </div>
    <div class="col">
      <h5>จอแสดงผล LCD แบบเรียลไทม์</h5>
      <p>Character LCD เป็นจอที่แสดงผลเป็นตัวอักษรตามช่องแบบตายตัว เช่น จอ LCD ขนาด 20×4 หมายถึงใน 1 แถว
        มีตัวอักษรใส่ได้ 20 ตัว และมีทั้งหมด 4 บรรทัดให้ใช้งาน การเชื่อมต่ออุปกรณ์จะเป็นการเชื่อมต่อแบบอนุกรม –
        เป็นการเชื่อต่อกับจอ LCD ผ่านโมดูลแปลงรูปแบบการเชื่อมต่อกับจอ LCD จากแบบขนาน
        มาเป็นการเชื่อมต่อแบบอื่นที่ใช้สายน้อยกว่า เช่น การใช้โมดูล I2C Serial Interface
        จะเป็นการนำโมดูลเชื่อมเข้ากับตัวจอ LCD แล้วใช้บอร์ด ESP32 เชื่อมต่อกับบอร์ดโมดูลผ่านโปรโตคอล I2C
        ทำให้ใช่สายเพียง 4 เส้น ก็ทำให้หน้าจอแสดงผลข้อความต่างๆออกมาได้ โดยจะเชื่อมต่อขาอุปกรณ์ดังนี้

        VIN (5V)-> VCC
        GND-> GND
        D21 -> SDA
        D22-> SCL</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <img src="assets/images/product/lcd.jpg" width="280px" height="270px" alt="">
    </div>
    <div class="col">
      <h5>Relar 5v</h5>
      <p>รีเลย์ (Relay) เป็นอุปกรณ์อิเล็กทรอนิกส์ที่ถูกนำมาใช้งานกันอย่างแพร่หลายในวงจรควบคุมอัตโนมัติ
        โดยจะทำหน้าที่เปรียบเสมือนสวิตซ์ไฟ ที่ใช้แรงดันไฟฟ้าในการเปิด-ปิดอุปกรณ์ไฟฟ้าต่าง ๆ เพื่อควบคุมวงจรอัตโนมัติ
        หากเกิดข้อผิดพลาดระหว่างวงจรไฟฟ้า รีเลย์ จะทำการสั่งให้เบรกเกอร์ตัดวงจรไฟฟ้าทันที เพื่อความปลอดภัยในการใช้งาน
        รีเลย์ 1 แชนแนล
        แรงดันไฟเลี้ยง : 5Vdc
        สัญญาณทริกทำงานที่ลอจิก 0 (Active Low)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <img src="assets/images/product/relay-5.jpg" width="280px" height="270px" alt="">
    </div>
    <div class="col">
      <h5>Blynk App</h5>
      <p>Blynk App คือ แอปพลิเคชันสำเร็จรูปที่ใช้สำหรับงานที่เกี่ยวกับอินเทอร์เน็ตของสรรพสิ่ง (Internet of Things, IoT)
        ที่ทำให้เราสามารถเชื่อมต่ออุปกรณ์ต่าง ๆ เข้ากับอินเทอร์เน็ตในลักษณะการเชื่อมต่อเครื่องแม่ข่าย (Server)
        ไปยังอุปกรณ์ลูกข่าย (Client) เช่น Arduino,ESP-8266, ESP-32, NodeMCU และ Raspberry Pi ซึ่งแอปพลิเคชัน Blynk
        สามารถใช้งานได้ฟรีและใช้งานได้ทั้งบนระบบปฏิบัติการ IOS และ Android มีรายการอุปกรณ์ต่าง ๆ ที่สามารถเชื่อมต่อ
        แสดงผล และ/หรือ ควบคุมด้วย Blynk App ได้ </p>
    </div>
  </div>
</div>
