<div class="container mt-5 mb-5">
  <main class="form-signin col-md-4 offset-md-4">
      <form>

          <div class="text-center">
            <img class="mb-4" src="assets/images/IT-1-01.png" alt="" width="272" height="200">
              <h1>Register</h1>
          </div>

          <div class="form-floating mb-2">
            <input
                formControlName="fullname"
                name="fullname"
                type="text"
                class="form-control"
                id="floatingInput">
            <label for="floatingInput">Fullname</label>
        </div>

          <div class="form-floating mb-2">
              <input
                  formControlName="email"
                  name="email"
                  type="email"
                  class="form-control"
                  id="floatingInput">
              <label for="floatingInput">Email</label>

          </div>

          <div class="form-floating mb-2">
            <input
                formControlName="mobile"
                name="mobile"
                type="text"
                class="form-control"
                id="floatingInput">
            <label for="floatingInput">Mobile</label>

        </div>

          <div class="form-floating">
              <input
                  formControlName="password"
                  name="password"
                  type="password"
                  class="form-control"
                  id="floatingPassword">
              <label for="floatingPassword">Password</label>

          </div>

          <button
              class="btn btn-primary w-100 py-2 mt-2"
              type="submit"
              >Sign up
          </button>

          <button
              class="btn btn-warning w-100 py-2 mt-2"
              type="submit"
              >Reset
          </button>

          <!-- {{ userLogin.email }}
          {{ userLogin.password }} -->

      </form>
  </main>
</div>

